<div class="challenge">
  <div class="challenge__card">
    <div class="challenge__avatar">
      <div class="avatar__img">
      </div>
      &nbsp;
      <span class="challenge__profile__name">Visitar Perfil</span>
    </div>
    <div class="challenge__user__info">
      <ul>
        <li>Repositórios: <span class="repo__qtd"></span></li>
        <li>Seguidores: <span class="follower__qtd"></span></li>
        <li>Seguindo: <span class="following__qtd"></span></li>
      </ul>
      
      <div class="challenge__options">
        <span>Ver repositórios</span>
        <span>Ver favoritos</span>
      </div>
    </div>
  </div>
</div>