.challenge {
  display         : flex;
  flex-direction  : column;
  justify-content : end;
  align-items     : center;
  padding-top     : 10vh;
  width           : 100%;
  height          : 100vh;
  background-color: rgba(154 238 191 / 0.17);
}

.challenge>h1 {
  font-family: "Dosis";
  padding    : 5vh;
}

.challenge__content {
  background-color: #fff;
  box-shadow      : 0 0 12px rgba(0, 0, 0, 0.2);
}

.challenge__card {
  display        : flex;
  justify-content: space-between;
  align-items    : flex-end;
  min-width      : 45vw;
  height         : 33vh;
}

.challenge__avatar {
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: center;
  margin-left    : 20px;
  width          : 200px;
  height         : 100%;
}

.challenge__avatar .avatar__img {
  background-size: cover;
  width          : 100%;
  height         : 63%;
  border-radius  : 100%;
}

.challenge__profile__name {
  cursor         : pointer;
  font-size      : 18px;
  font-family    : "Dosis";
  color          : #2d69ba;
  letter-spacing : 1px;
  text-transform : uppercase;
  text-decoration: underline;
  transition     : 0.3s ease-out;
}

.challenge__profile__name:hover {
  transition     : 0.3s ease-in;
  text-decoration: none;
  color          : #001bff;
}

.challenge__user__info {
  display        : flex;
  flex-direction : column;
  justify-content: space-around;
  width          : calc(90% - 200px);
  height         : 80%;
}

.challenge__user__info ul {
  list-style: none;
}

.challenge__user__info li {
  font-family   : "Dosis";
  font-size     : 18px;
  text-transform: uppercase;
  margin        : 5px;
}

.challenge__options span {
  cursor          : pointer;
  padding         : 10px;
  font-family     : "Dosis";
  font-weight     : bold;
  text-transform  : uppercase;
  background-color: transparent;
  border          : 2px solid rgba(154 238 191 / 1);
  border-radius   : 3px;
  color           : #008000;
}

.challenge__options span:hover {
  background-color: rgba(154 238 191 / 0.17);
  box-shadow      : 0 0 2px #008000;
  color           : #000;
  border          : none;
}

.challenge__hr {
  width           : 90%;
  height          : 1px;
  margin          : 0 auto;
  background-color: rgba(0, 0, 0, 0.1);
  display         : block;
}

.challenge__hidden__menu {
  overflow-y    : auto;
  min-width     : 45vw;
  height        : 0;
  display       : flex;
  flex-direction: column;
  align-items   : center;
}

.challenge__hidden__menu__content {
  width : 95%;
  height: 100%;
}

.hidden__menu__title {
  font-family: "Dosis";
}

.repo__list {
  width: 100%;
}

.repo__list tr {
  width: 100%;
}

.repo__list tr td {
  padding    : 10px;
  font-family: "Dosis";
}

.repo__list tr:nth-child(2n + 1) {
  background-color: rgba(154 238 191 / 0.40);
}

.challenge__card.on__loading {
  display         : flex;
  justify-content : center;
  align-items     : center;
  min-width       : 45vw;
  height          : 33vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.icon-loading {
  margin: 0 auto;
}

.challenge__card.on__loading>div {
  display: none;
}

.show__menu {
  height    : 20vh;
  transition: 0.3s ease-in;
}

.challenge__hr.user__info {
  display: none;
}

@media screen and (max-width: 768px) {
  .challenge__card {
    display        : flex;
    flex-direction : column;
    justify-content: flex-end;
    align-items    : center;
    width          : 85vw;
    height         : 55vh;
  }

  .challenge>h1 {
    display: none;
  }

  .challenge {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    padding-top    : 0;
  }

  .challenge__avatar {
    display        : flex;
    justify-content: end;
    padding-top    : 10px;
    margin         : 0;
    width          : 80%;
    height         : 36%;
  }

  .challenge__avatar .avatar__img {
    background-size: cover;
    width          : 50%;
    height         : 80%;
    border-radius  : 100%;
  }

  .challenge__user__info {
    display        : flex;
    flex-direction : column;
    justify-content: space-around;
    width          : 80%;
    height         : 30vh;
  }

  .challenge__hr.user__info {
    display: block;
  }
}

@media screen and (max-width: 1366px) and (min-width: 769px) {
  .challenge__card {
    display        : flex;
    justify-content: space-between;
    align-items    : flex-end;
    width          : 70vw;
    height         : 33vh;
  }
}