<div class="about__main">
  <h1 class="about__title">Sobre</h1>
  <section class="about__me__content">
    <p>Olá, me chamo Éder, tenho 25 anos, moro em uma cidade pequena no interior de MT <i>(Água Boa)</i>,
      talvez não muito conhecida, mas temos o maior leilão de gado do mundo, ou tínhamos, não sei mais.
      <br>
      Bom, vamos lá! Serei breve, para não ficar um texto muito grande e cansativo de ler.
      Desde sempre gostei muito de tecnologia e brincava com o HTML e tal, mas eu era bem perdido só sabia por cima
      mesmo.
      Mas nem sempre fui desenvolvedor, nos meus primeiros anos de trabalhador eu trabalhei em escritório de
      contabilidade.
    </p>
    &nbsp;
    <p>A cidade aqui é bem pequena, e até hoje só tem uma empresa que tem setor de desenvolvimento assim <i>(setor de TI,
      no
      caso)</i>, comecei trabalhar nessa empresa, porém, ainda na parte contábil :/
      <br> Um dia resolvi recomeçar minha vida profissional em outro lugar e tentar fazer o que eu gostava. Catei meu
      berrante, montei no meu pangaré
      e fui embora para Joinville - SC <i>(brinks, fui de avião)</i>. Lá iniciei o curso de Engenharia de computação na
      UNISOCIESC, depois de uns 2~3 meses de curso,
      arrumei um estágio na área, em uma empresa chamada OPERAND.
      <br>
      Algum tempo depois <i>(1 ano mais o menos)</i>, precisei voltar para minha cidade natal <i>(Água Boa - MT)</i>, mas consegui
      entrar na única empresa de tecnologia que tem aqui
      e cá estou até hoje, atualmente usamos essas tecnologias: <i>(Vue, js, ts, node, python)</i>, no meu estágio em SC era
      <i>(php, jquery e knockout.js)</i>.
    </p>

    É isso, um resumão da minha vida profissional.
  </section>
</div>