nav {
  z-index         : 9;
  position        : absolute;
  top             : 0;
  width           : 100%;
  display         : flex;
  justify-content : space-around;
  align-items     : center;
  min-height      : 8vh;
  background-color: transparent;
}

.nav__myname {
  color         : #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size     : 20px;
}

.nav__options {
  cursor         : pointer;
  display        : flex;
  justify-content: flex-end;
  width          : 30%;
}

.nav__options li:not(:last-child) {
  margin: 0 2vw;
}

.nav__options li:last-child {
  margin: 0 0 0 2vw;
}

.nav__options li {
  list-style: none;
}

.nav__options a {
  color          : #fff;
  font-size      : 14px;
  text-decoration: none;
  letter-spacing : 2px;
}

.nav__mobile__button {
  display: none;
}

.nav__mobile__button div {
  background-color: #ccc;
  width           : 25px;
  height          : 3px;
  margin          : 5px;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  nav {
    display        : flex;
    justify-content: space-between;
    padding        : 0 20px;
  }

  .nav__options {
    position        : fixed;
    right           : 0px;
    height          : 92vh;
    top             : 8vh;
    background-color: #943131;
    display         : flex;
    justify-content : center;
    flex-direction  : column;
    width           : 50%;
    transform       : translateX(100%);
    transition      : transform 0.5s ease-in;
  }

  .nav__options li {
    height: 100%;
    width : 100%;
    margin: 0px !important;
  }

  .nav__options a {
    height         : calc(100% - 1px);
    box-shadow     : 0 0 5px #00000014;
    display        : flex;
    justify-content: center;
    flex-direction : column;
    text-align     : center;
  }

  .nav__options li:hover {
    background-color: rgba(204, 204, 204, 0.5);
  }

  .nav__mobile__button {
    display: block;
  }
}

.showing__mobile {
  transform: translateX(0%);
}