.home__bg {
  z-index          : 1;
  height           : 100vh;
  width            : 100%;
  background-image : url('./img/bg-home.jpg');
  background-size  : cover;
  background-repeat: no-repeat;
}

.home__social {
  display        : flex;
  justify-content: center;
  align-items    : center;
  height         : 10vh;
}

.bg__text {
  width          : 100%;
  height         : 90vh;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
}

.home__text__info {
  font-family     : "Dosis";
  width           : 100%;
  height          : 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.bg__text>h1 {
  font-size: 4vw;
  color    : #fff;
}

.bg__text>span {
  font-size: 2vw;
  color    : #fff;
}

.home__social i {
  margin   : 10px;
  color    : #fff;
  font-size: 2em;
}

.home__social i:hover {
  cursor: pointer;
}

.home__social i.icon-linkedin:hover {
  color: #0a66c2;
}

.home__social i.icon-github:hover {
  color: #000;
}

.home__social i.icon-instagram:hover {
  background             : radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip        : text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 768px) {
  .bg__text {
    height: 75vh;
  }

  .home__social {
    height: 25vh;
  }

  .bg__text>h1 {
    font-size: calc(4vw * 1.6);
  }

  .bg__text>span {
    font-size: calc(2vw * 1.6);
  }
}